{% extends "base.html" %}
{% block title %}
 Details
{% endblock title %}

{% block bg_color %}
#CA8787
{% endblock bg_color %}

{% block content %}
    <a href="{% url 'home' %}" class ="btn btn-success">Back</a>
    <a href="{% url 'delete' p.id %}" class ="btn btn-danger">Delete</a>
    <a href="{% url 'update' p.id %}" class ="btn btn-info">Update</a>
<h1> This is Details page. </h1>
  <p> {{ p.id }} </p>
  <p> {{ p.title }} </p>
  <p> {{ p.body }} </p>
  <p> {{ p.created_at }} </p>
{% endblock content %}